<AutoRecorder>
  <Settings>
      <Channels>Yle TV1;Yle TV2;MTV3;Nelonen;Yle Fem;Sub;Yle Teema;LIV;AVA;FOX;Jim;Kutonen;TV5;National Geographic;MTV3 MAX;MTV3 Juniori;MTV3 Fakta;MTV3 Komedia;MTV3 Leffa;MTV3 Sarja;MTV3 Fakta XL</Channels>
      <Username>root</Username>
      <Password>dreambox</Password>
      <Address>vuultimo</Address>
  </Settings>
</AutoRecorder>